@use "../helpers/" as *;

.blog-details {
    &__banner {
        min-height: fluid(598, 281);
        padding-block: fluid(65, 17);
        text-align: center;
        display: flex;
        align-items: end;
        background: url(../../images/blog-details/banner.jpg) no-repeat center/cover;
    }

    &__title {
        @include fluid-text(64, 28);
        
        font-family: var(--font-family-base);
        font-weight: 600;
    }

    &__body {
        border-block: var(--border);

        h2, h3, h4, h5, h6 {
            &:not(:first-child) {
                margin-top: 1.5em
            }

            &:not(:last-child) {
                margin-bottom: 1em;
            }
        }

        &-inner {
            display: grid;
            grid-template-columns: 1fr rem(520);

            @include tablet {
                display: flex;
                flex-direction: column-reverse;
            }
        }
    }

    &__content-main {
        --initialMaxHeight: #{rem(741)};

        @include laptop {
            --initialMaxHeight: ${rem(692)};
        }

        @include mobile {
            --initialMaxHeight: ${rem(669)}
        }

        
        @include tablet-above {
            border-right: var(--border);
        }
    }
    
    &__content-intro,
    &__actions,
    &__summary {
        @include tablet {
            @include full-vw-centred-line(bottom);
        }
    }

    &__content-intro,
    &__content-main,
    &__actions,
    &__summary {
        padding: fluid(80, 40) rem(80);

        @include laptop {
            padding-inline: rem(60);
        }

        @include tablet {
            padding-inline: 0;
        }
    }

    &__content-intro,
    &__actions {
        @include tablet-above {
            border-bottom: var(--border);
        }
    }

    &__actions {
        padding-block: fluid(50, 20);
    }
        
}