@use "../helpers" as *;

.icon {
    display: inline-flex;
    align-items: center;
    column-gap: rem(10);
   
    &::after {
        --size: #{rem(24)};

        @include square(var(--size));
        
        content: "";
        flex-shrink: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        @include laptop {
            --size: #{rem(10)};
        }
    }
}

.icon--yellow-arrow {
    &::after {        
        background-image: url("../../icons/arrow-top-right_yellow.svg");
    }
}

.icon--yellow-eye {
    &::after {        
        background-image: url("../../icons/icon-eye-yellow.svg");
    }
}